<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TODO APP</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  </head>
  <body>
    <h1>my TODO APP</h1>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new item.." required />
        <button type="submit">ADD ITEM</button>
      </form>
      <ul>
        <% for(var i=0; i < todos.length; i++) { %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
